/* Global styles */
:root {
    /* Primary colours */
    --soft-orange: #e9ab53;
    --soft-red: #f15e50;

    /* Neutral colours */
    --off-white: #fffdfa;
    --gry-blue: #c5c6ce;
    --dk-gry-blue: #5d5f79;
    --v-dk-blue: #00001a;
}

body, h1, h2, h3, h4, h5, h6, p,
dl, dd, blockquote, figure {
    margin: 0;
}

body {
    font-family: 'Inter';
    font-size: 15px;
}

/* Mobile styles */
.wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
}

.logo-and-links {
    display: none;
}

.logo-and-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: .75rem;
}

.logo {
    width: 3rem;
    cursor: pointer;
}

.ham-menu {
    cursor: pointer;
}

.ham-menu:hover {
    filter: invert(47%) sepia(15%) saturate(6733%) hue-rotate(332deg) brightness(103%) contrast(89%);
}

#close {
    cursor: pointer;
}

#close:hover {
    filter: invert(47%) sepia(15%) saturate(6733%) hue-rotate(332deg) brightness(103%) contrast(89%);
}

.disabled {
    display: none !important;
}

.mob-nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 68vw;
    background-color: var(--off-white);
    z-index: 2;
}

.mob-nav-menu .nav-link {
    padding: 0 1.5rem;
    font-size: 18px;
    color: var(--v-dk-blue);
}

.mob-nav-menu img {
    width: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5rem 1.25rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 9rem;
}

.nav-link {
    cursor: pointer;
    color: var(--dk-gry-blue);
}

.nav-link:hover {
    color: var(--soft-red);
    transition: 200ms ease-out;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 26, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.hero-image-mob {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.hero-image-desktop {
    display: none;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.hero-heading {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 100%;
    color: var(--v-dk-blue);
}

.body-and-btn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.body-dark {
    color: var(--dk-gry-blue);
    line-height: 180%;
}

.primary {
    cursor: pointer;
    border: none;
    padding: 1rem 2rem;
    width: fit-content;

    font-family: 'Inter';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3rem;

    color: var(--off-white);
    background-color: var(--soft-red);
}

.primary:hover {
    background-color: var(--v-dk-blue);
    transition: 200ms ease-out;
}

.new-section {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.25rem 1.5rem 1.25rem;
    background-color: var(--v-dk-blue);
    margin-bottom: 4rem;
}

.new-heading {
    font-size: 2rem;
    font-weight: 700;
    color: var(--soft-orange);
    margin-bottom: 2rem;
}

.aside-article {
    display: inherit;
    flex-direction: column;
    gap: .5rem;
}

.white-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--off-white);
    cursor: pointer;
}

.white-title:hover {
    color: var(--soft-orange);
}

.body-light {
    line-height: 180%;
    color: var(--gry-blue);
    text-wrap: pretty;
    
}

hr {
    border: 1px solid var(--dk-gry-blue);
    width: 100%;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.ranked-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.ranked-article {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.ranked-article img {
    width: 6.25rem;
}

.ranked-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.rank {
    font-size: 2rem;
    font-weight: 700;
    color: var(--gry-blue);
}

.rank-article-title {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 100%;
    color: var(--v-dk-blue);
    cursor: pointer;
}

.rank-article-title:hover {
    color: var(--soft-red);
}

.ranked-article p {
    color: var(--dk-gry-blue);
    line-height: 160%;
    text-wrap: balance;
}


/* Desktop styles */
@media screen and (min-width: 768px) {
    .wrapper {
        max-width: 69.5rem;
        margin: 1rem;
    }

    .logo-and-menu {
        display: none;
    }

    .logo-and-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .logo-and-links .nav-link {
        padding: 0;
        font-size: 1rem;
    }

    .nav-links-desktop {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }

    .hero-image-mob {
        display: none;
    }

    .hero-image-desktop {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .hero-and-new {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.75rem;
    }

    .hero-content {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .hero-heading {
        font-size: 3.25rem;
    }

    .body-and-btn {
        width: 110%;
    }

    .ranked-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}